@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Subrayada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Subrayada&family=Raleway&display=swap');

$Montserrat: 'Montserrat', sans-serif;
$Raleway: 'Raleway', sans-serif;
$gray: #373A39;
$orange: #FCBB08;
$backgroundGray : #F6F8FA;

%footer__style__text {
    font-family: Open Sans;
font-size: 14px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0px;
text-align: center;
color: #A8A8A8;
}

%text__style__p {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: $gray;
    margin-bottom: 20px;
}

%after__img {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.title {
    font-family: $Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: -1.6500000953674316px;
    text-align: left;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 80px;
        left: 0;
        width: 60px;
        height: 2px;
        background-color: $orange;
    }
}

.header {
    width: 100%;
    height: 100vh;
    position: relative;

    .header-top {
        position: fixed;
        width: 100%;
        padding: 5px;
        background-color: #fff;
        z-index: 10000;

        .header__top-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo__img {
                padding-top: 10px;
            }

            .menu__list {
                display: flex;

                .menu__list-item {
                    margin: 0 10px;
                    list-style-type: none;

                    .menu__link {
                        text-decoration: none;
                        font-family: $Raleway;
                        padding: 0 10px;
                        font-size: 12px;
                        font-weight: 700;
                        line-height: 14px;
                        letter-spacing: 0.6000000238418579px;
                        text-align: left;
                        color: $gray;
                    }

                    .menu__link--active {
                        padding-bottom: 10px;
                        border-bottom: 2.5px solid $orange;
                    }
                }


            }
        }


    }

    .header-content {
        height: 100%;
        background-image: url(../images/Header-bg.png);
        background-size: cover;
        background-attachment: fixed;

        .header__content-inner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .header__title {
                font-family: $Montserrat;
                font-size: 100px;
                font-weight: 700;
                line-height: 122px;
                letter-spacing: 0px;
                text-align: center;
                color: #fff;

            }

            .header__description {
                font-family: $Montserrat;
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: 2.7428574562072754px;
                text-align: center;
                color: #FCBB08;
            }

            .header__content-decor {
                position: absolute;
                border: 1.7px solid #fff;
                width: 26px;
                height: 43px;
                left: 50%;
                top: 180%;
                transform: translate(-50%, 0);
                border-radius: 15px;
                cursor: pointer;

                &::after {
                    content: '';
                    position: absolute;
                    top: 15%;
                    left: 50%;
                    transform: translate(-50%, -15%);
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    background-color: #fff;
                }
            }

        }
    }
}

.about {
    background-color: #F6F8FA;
}

.about__inner {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;


    .about__text {

        width: 60%;
        padding: 20px;

        p {
            @extend %text__style__p
        }
    }
}

.expertise {
    padding: 50px 0;

    .expertise__content {
        margin-top: 50px;
        display: flex;

        .expertise__content-items {
            padding: 25px 20px 0 0;
            flex-basis: 40%;

            .expertise__content-item {
                padding-top: 5px;
                border-top: 5px solid #ddd;
                position: relative;
                margin-bottom: 15px;

                &::after {
                    content: "";
                    position: absolute;
                    top: -5px;
                    left: 0;
                    width: 90%;
                    border-top: 5px solid #000;
                }
            }
        }

        .expertise__content-text {
            flex-basis: 60%;
            padding: 15px;

            p {
                @extend %text__style__p
            }
        }
    }

    .expertise__items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;

        .expertise__item:nth-child(1) {
            &::after {
                @extend %after__img;
                background-image: url(../icons/Shape.png);
            }
        }

        .expertise__item:nth-child(2) {
            &::after {
                @extend %after__img;
                background-image: url(../icons/monitor.png);
            }
        }

        .expertise__item:nth-child(3) {
            &::after {
                @extend %after__img;
                background-image: url(../icons/speaker\ copy.png);
            }
        }

        .expertise__item {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: end;
            margin: 20px;

            .expertise__item-title {
                width: 80%;
                font-family: $Raleway;
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: 4.289999961853027px;
                text-align: left;
                margin-bottom: 10px;
            }

            .expertise__item-text {
                width: 80%;
                @extend %text__style__p
            }



        }
    }
}

.flex {
    display: flex;
}

.fullScreen {
    height: 100vh;
}

.features {
    .features__img {
        width: 50%;
        height: 100%;
        background-image: url(../images/img.png);
        background-size: cover;
    }

    .features__inner {
        width: 50%;
        padding: 60px;
        background-color: $backgroundGray;

        .features__title {
            width: 300px;
            margin-bottom: 30px;
        }

        .features__text {
            p {
                @extend %text__style__p
            }
        }
    }
}

.portfolio {
    margin: 50px 0;

    .portfolio__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;

        .portfolio__buttons {
            display: flex;

            .portfolio__btn {
                margin: 0 10px;
                list-style-type: none;
                cursor: pointer;
            }

            .portfolio__btn--active {
                border-bottom: 2.5px solid $orange;
                padding-bottom: 6px;
            }
        }
    }

    .portfolio__items {
        display: flex;
        flex-wrap: wrap;

        .portfolio__item-img {
            flex-basis: 23.4%;
            height: 100px;
            background-color: red;
            margin: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .portfolio__btn-all {
        width: 100%;
        padding: 15px;
        border: none;
        background-color: $backgroundGray;
        cursor: pointer;
    }
}

.portfolio__item-height1 {
    height: 288px;
}

.portfolio__item-height2 {
    height: 367px;
}

.portfolio__item-height3 {
    height: 523px;
}

.portfolio__item-height4 {
    height: 572px;
}

.video {
    width: 100%;

    .video__quotes {
        text-align: center;
        @extend %text__style__p
    }

    .video__quotes-author {
        text-align: center;
        @extend %text__style__p
    }

    .video__content {
        width: 100%;
        height: 35vh;
        background-color: #000;
    }
}

.statistics {
    padding: 50px 0;

    .statistics__inner {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

.statistics__num {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
}

.statistics__text {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    color: #00B2A0;
    text-align: center;
}

.team__items {
    margin: 60px 0;
    display: flex;
    justify-content: center;

    .team__item {
        width: 33%;
        text-align: center;


        .team__item-img {
            width: 100%;
            height: 520px;
        }

        .team__item-name {
            font-family: $Montserrat;
            font-size: 14px;
            font-weight: 700;
            line-height: 17px;
            letter-spacing: 0px;
            margin: 12px 0;
        }

        .team__item-position {
            font-family: Open Sans;
            font-size: 12px;
            font-weight: 300;
            line-height: 16px;
            letter-spacing: 0px;
            color: #C2C2C2;
        }

        &:nth-child(2) {
            margin: 0 25px;
        }
    }
}

.pricing {
    padding: 60px 0;
    background-color: $backgroundGray;

    .pricing__items {
        display: flex;
        margin-top: 50px;

        .pricing__item {
            flex-basis: 33%;
            text-align: center;
            background-color: #fff;
            padding: 15px;
            padding-bottom: 30px;

            .pricing__item-name {
                text-align: left;
                font-family: Open Sans;
                font-size: 16px;
                font-weight: 700;
                line-height: 22px;
                letter-spacing: 0px;
                text-align: left;
            }

            .pricing__item-race {
                text-align: center;
                font-family: Open Sans;
                font-size: 80px;
                font-weight: 300;
                line-height: 109px;
                letter-spacing: 0px;
                text-align: center;
                position: relative;

                span {
                    font-family: Open Sans;
                    font-size: 20px;
                    font-weight: 300;
                    line-height: 27px;
                    letter-spacing: 0px;
                    text-align: center;
                    color: #242121;
                }

                &::after {
                    content: '$';
                    position: absolute;
                    top: 15px;
                    left: 25%;
                    font-family: Open Sans;
                    font-size: 40px;
                    font-weight: 300;
                    line-height: 54px;
                    letter-spacing: 0px;
                    text-align: center;

                }
            }

            .pricing__list-item {
                font-family: Open Sans;
                font-size: 16px;
                font-weight: 300;
                line-height: 22px;
                letter-spacing: 0px;
                list-style-type: none;
                margin: 25px 0;
                color: #242121;
            }

            .pricing__btn {
                font-family: $Montserrat;
                font-size: 14px;
                font-weight: 700;
                line-height: 17px;
                letter-spacing: 1.2000000476837158px;
                text-align: center;
                border: none;
                background-color: #fff;
                cursor: pointer;
            }
        }
    }
}

.pricing__item:nth-child(2) {
    margin: 0 20px;
}

.contact__content {
    margin: 60px 0;
    width: 50%;

    .contact__form {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        padding-right: 40px;

        .contact__form-input {
            margin: 15px 0;  
            border: none; 
            border-bottom: 2px solid $gray;
            padding-bottom: 8px;
            resize: none;
        }

        .contact__btn {
            width: 200px;
            padding: 8px 20px; 
            border: none;
            background-color: #242121;
            color: #fff;
            margin-top: 15px;
            cursor: pointer;
        }
    }
}

.footer {
    background-color: $gray;

    .footer__copy {
        background-color: #2A2C2B;
        @extend %footer__style__text;
        padding: 15px;
    }
}

.footer__contant {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .logo--line {
        padding-bottom: 11px;
        border-bottom: 2.5px solid $orange;
        padding: 0 25px;
    }

    .footer__social {
        margin: 40px;

        .footer__social-link {
            margin: 0 15px;
            color: #fff;
            font-family: $Montserrat;
font-size: 12px;
font-weight: 300;
line-height: 15px;
letter-spacing: 4px;
text-align: left;
text-decoration: none;
        }
    }

    .footer__adress, .footer__phone, .footer__email{
        @extend %footer__style__text;
        text-decoration: none;
    }
    
    .footer__phone:hover, .footer__email:hover {
        color: #fff;
    }
    
}